.wrapper {
  background: rgb(41, 41, 41);
}

.content-weather {
  width: 100%;

  .section {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    scroll-snap-align: start;
  }

  &__search {
    background: rgb(33, 33, 33);
    padding-bottom: 200px;

    @media (max-width: 991px) {
      padding-bottom: 0;
    }
  }

  .search-weather {
    width: 300px;
    margin: 0 auto;
    max-width: 100%;
    padding-top: 30px;
    img {
      width: 40px;
    }

    &__input {
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        width: 100%;
        border: 0;
        background: transparent;
        color: #fff;
        font-size: 20px;
        border-bottom: 2px solid #fff;

        &::placeholder {
          color: #fff;
          opacity: 0.3;
          font-size: 18px;
        }
      }
    }

    &__error {
      text-align: center;
      color: red;
      font-size: 14px;
    }
  }

  .current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;

    @media (max-width: 765.98px) {
      margin-top: 100px;
    }

    @media (max-width: 540px) {
      margin-top: 70px;
    }

    &__icon {
      width: 100px;
      display: flex;
      justify-content: center;
    }

    &__temp {
      margin-top: 40px;
      font-size: 50px;
    }

    &__day-name {
      margin-top: 50px;
      opacity: 0.8;
    }

    &__comment {
      margin-top: 14px;
      opacity: 0.8;
    }
  }

  .region-weather {
    position: relative;
    width: 320px;
    height: 100px;
    margin: 100px auto;
    max-width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      padding: 0 5px 0 5px;
    }

    .region {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 2;
      height: 100%;
    }
  }
}

.weather-info {
  background: rgb(41, 41, 41);

  &__links-body {
    display: flex;
    margin-left: 30px;
    padding-top: 30px;
  }

  &__link {
    color: rgba(255, 255, 255, 0.452);
    font-size: 20px;

    &:hover {
      color: #fff;
      text-decoration: underline;
      transition: 0.5s ease;
      text-underline-offset: 5px;
    }
  }

  &__links-item:not(:last-child) {
    margin: 0 30px 0 0;
  }

  .active {
    text-decoration: underline;
    transition: 0.5s ease;
    text-underline-offset: 5px;
    color: rgb(255, 255, 255);
  }

  &__forecast {
    cursor: grab;
  }
  &__forecast-day {
    text-align: center;
    background: rgb(33, 33, 33);
    box-shadow: rgb(0 0 0 / 10%) -5px 9px 10px -7px;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
  }

  .day-temp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-size: 20px;
  }

  &__forecast-day-name {
    font-size: 20px;
  }

  &__forecast-day-icon {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      width: 100px;
    }
  }

  &__highlight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
    gap: 50px;
    width: 1440px;
    margin: 100px auto;
    max-width: 100%;
    padding-bottom: 50px;

    @media (max-width: 775px) {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 50px;
    }
  }

  &__highlight-item {
    width: 100%;
    background-color: rgb(33, 33, 33);
    padding: 15px;
    border-radius: 20px;
    @media (max-width: 1300px) {
      width: 100%;
    }
  }

  &__highlight-name {
    font-size: 20px;
    opacity: 0.7;
  }

  &__highlight-description {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    font-size: 20px;

    .desc:not(:last-child) {
      margin: 0 20px 0 0;
    }
  }
}

.weather-info__highlight-icon {
  width: 50px;
}

.map-container {
  margin: 40px auto 0 auto;
  max-width: 100%;
  border-radius: 20px;
  width: 100%;
  height: 750px;
  max-height: 100%;

  @media (max-height: 888px) {
    height: 650px;
  }

  @media (max-height: 796px) {
    height: 550px;
  }

  @media (max-height: 709px) {
    height: 450px;
  }
  @media (max-height: 552px) {
    height: 350px;
  }

  @media (max-height: 466px) {
    height: 250px;
  }
}

.section:last-child {
  padding: 0 20px 0 20px;
}

.mapboxgl-popup-content {
  width: 300px;
  height: 150px;
  font-size: 18px;

  div {
    margin-top: 10px;
  }
  span {
    margin-left: 10px;
    font-size: 15px;
    opacity: 0.5;
  }
}

.weather-popup .mapboxgl-popup-content {
  font-family: "Poppins";
  background-color: rgb(41, 41, 41);
  color: #fff;
  border-radius: 20px;
}

.weather-popup .mapboxgl-popup-close-button {
  font-size: 30px;
  right: 15px;
  top: 5px;
  color: #fff;
}

.weather-popup .mapboxgl-popup-tip {
  border-top-color: rgb(41, 41, 41) !important;
  border-bottom-color: rgb(41, 41, 41) !important;
}

.arrows-forecast {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__left,
  &__right {
    cursor: pointer;
  }
}

.swiper {
  margin-top: 30px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .select-day {
    margin-top: 30px;
    select {
      width: 150px;
      max-width: 100%;
      height: 40px;
      border-radius: 10px;
      background: rgb(33, 33, 33);
      box-shadow: rgb(0 0 0 / 10%) -5px 9px 10px -7px;
      color: #fff;
      border: none;
      outline: none;
    }
  }
}
